.jieguo {
  position: absolute;
  top: 65px;
  left: 90px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  z-index: 99;

  li {
    list-style: none;
    line-height: 30px;
    width: 300px;

    &:hover {
      background-color: #ffdfc6;
      cursor: pointer;
    }
  }
}

//层级选择器
.xiaoming1 {
  display: inline-block;
  width: 190px;
  height: 33px;
  background-color: #ffa133;
  color: white;
  font-size: 14px;
  text-indent: 1em;
  line-height: 33px;
}

.xiaoming2 {
  float: right;
  margin-right: 10px;

  span {
    width: 80px;
    height: 33px;
    line-height: 33px;
    display: inline-block;
  }

  i {
    background-image: url(../img/you.png);
    width: 22px;
    height: 21px;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    margin-right: 4px;
    font-style: normal;
  }
}

.xiaoming3 {
  float: right;

  span {
    width: 110px;
    height: 33px;
    display: inline-block;
    line-height: 33px;
  }

  i {
    background-image: url(../img/zheng.png);
    width: 22px;
    height: 21px;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    margin-right: 4px;
    font-style: normal;
  }
}

.box1 {
  width: 1200px;
  height: 33px;
  margin: 0 auto;

  ul {
    float: left;
  }

  li {
    float: left;
    margin-top: 8px;

    &:nth-child(6) {
      border-right: none;
    }

    div {
      padding: 0 15px;
      border-right: 1px solid #cccccc;
      height: 16px;

      a {
        color: black;
        text-decoration: none;
        line-height: 16px;
        display: block;
      }

      &:hover>a {
        color: #ffa133;
      }
    }
  }

}

.box2 {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
  position: relative;

  .box21 {
    width: 190px;
    height: 550px;
    float: left;

    li {
      position: relative;
      width: 190px;
      height: 61.111px;
      padding-left: 10px;
      float: left;
      background-color: white;

      h4 {
        margin-top: 15px;
        font-size: 14px;
      }

      a {
        display: inline-block;
        font-size: 12px;
        color: #999999;
        text-decoration: none;
        margin-right: 5px;

        &:hover {
          color: #ffa133;
        }
      }

      span {
        position: absolute;
        right: 8px;
        top: 18px;
      }
    }
  }
}

.b1 {
  width: 780px;
  height: 150px;
  float: left;
  margin-left: 10px;

  img {
    float: left;
  }
}

.b2 {
  width: 210px;
  height: 275px;
  background-color: #fccf99;
  position: absolute;
  right: 0;
  text-align: center;

  h4 {
    margin-top: 30px;
    color: #934b20;
  }

  >span {
    color: #a8885f;
    display: inline-block;
    margin-bottom: 5px;
  }

  .b21 {
    width: 180px;
    height: 55px;
    border-top: 5px solid #ffa133;
    background-color: white;
    margin: 0 auto;
    line-height: 70px;

    span {
      font-size: 30px;
      color: #68300a;
    }

    i {
      font-size: 38px;
      color: #68300a;
      font-style: normal;
      font-weight: 700;
    }
  }

  .b22 {
    width: 180px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    color: #68300a;
    line-height: 28px;
    border-radius: 0 0 5px 5px;
  }

  .b23 {
    width: 180px;
    height: 36px;
    margin: 0 auto;
    background-color: white;
    color: #68300a;
    font-size: 12px;
    line-height: 36px;
    border-top: #e6e6e6 3px dashed;
    border-radius: 8px 8px 0 0;
  }

  .b24 {
    width: 180px;
    height: 36px;
    margin: 0 auto;
    background-color: #ffa133;
    color: white;
    font-size: 16px;
    line-height: 36px;
  }
}

.b3 {
  width: 210px;
  height: 275px;
  background-color: #fff0c3;
  position: absolute;
  right: 0;
  top: 275px;
  text-align: center;

  p {
    margin-top: 8px;
    color: #b27b50;
  }


  .b31 {
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {

      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100px;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
      width: 190px;
      height: 165px;
      border-radius: 8px;
    }
  }

  .b32 {
    width: 140px;
    height: 32px;
    background-color: #ffcf66;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 32px;

    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }
}

.diaoyong {
  height: 70px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: url(../img/ping.png) repeat-x 0 32px;

  h4 {
    display: inline-block;
    font-size: 28px;
    line-height: 70px;
    background-color: #f6f6f6;
    padding: 0 60px;
  }
}

.box3 {
  height: 250px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;

  li {
    float: left;
    width: 390px;
    height: 250px;
    margin-right: 15px;
    background-color: white;
    position: relative;

    a {
      width: 158px;
      position: absolute;
      font-size: 12px;
      color: #333333;
      text-decoration: none;
      top: 70px;
      right: 40px;

      &:hover {
        color: #ffc36e;
      }
    }

    div {
      width: 230px;
      background-color: #f75f3c;
      text-align: center;
      height: 60px;
      position: absolute;
      left: 0;
      bottom: 0;
      line-height: 60px;
      font-size: 18px;
      color: white;

      span {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 5px solid #fff;
        border-left: 5px solid #fff;
        overflow: hidden;
      }
    }

    p {
      width: 160px;
      background-color: #ffa133;
      text-align: center;
      height: 60px;
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 60px;
      font-size: 18px;
      color: white;
      cursor: pointer;

      span {
        background-image: url(../img/jl.png);
        display: inline-block;
        vertical-align: middle;
        background-position: -21px -52px;
        -moz-background-size: 118px 73px;
        background-size: 118px 73px;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
      }
    }

    img {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    em {
      position: absolute;
      font-style: normal;
      width: 115px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      color: #ffa133;
      background-color: #fff5ea;
      top: 138px;
      left: 190px;
      line-height: 20px;
    }
  }
}

.box4 {
  width: 1200px;
  margin: 0 auto;
  height: 260px;
  position: relative;
  margin-bottom: 20px;

  li {
    width: px;
    height: 250px;
    background: white;
    position: relative;
    float: left;
    padding: 0 15px;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;

    img {
      display: block;
      margin-top: 20px;
      margin-left: 20px;
    }

    a {
      margin-top: 10px;
      display: block;
      width: 169px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      color: #333333;

      &:hover {
        color: #ffa133;
      }
    }

    span {
      color: #666666;
    }

    p {
      color: #ff002f;
      font-size: 18px;
      line-height: 50px;
      font-weight: 700;
      height: 50px;
    }

    i {
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: #ffa133;
      right: 20px;
      bottom: 10px;
      cursor: pointer;

      em {
        position: absolute;
        display: inline-block;
        background-image: url(../img/jl.png);
        vertical-align: middle;
        background-position: -21px -52px;
        -moz-background-size: 118px 73px;
        background-size: 118px 73px;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        background-color: #ffa133;
        top: 8px;
        left: 6px;
      }
    }

    b {
      content: "";
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 10px dashed transparent;
      overflow: hidden;
      border-top: 10px solid #fe952d;
      border-left: 10px solid #fe952d;
    }
  }
}

.tu1 {
  position: relative;
  z-index: 2;
  float: right;
  width: 200px;
  height: 259px;

  img {
    margin-left: -20px;
    min-width: 200px;
    min-height: 259px;
  }
}

.tu2 {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 990px;
  height: 10px;
  background: url(../img/ditiao.png) 0 0 no-repeat;
}